.container {
    max-width: 400px;
    margin: 20px auto;
    border: 1px solid #878686;
    border-radius: 8px;
    background-color: pink;
    padding: 20px;
}
.login-container {
    padding: 10px;
    font-size: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 16px;
}
button {
    width: 100%;
    background-color: palevioletred;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 20px;
    padding: 10px;
}
button:hover {
    background-color: #d06075;
}
